
@{
    ViewBag.Title = "Index";
}

@section scripts {
    @Scripts.Render("~/Scripts/friends.js")
}

@section styles {
    @Styles.Render("~/Content/css/friends.css")
}
 <div class="friends-container scroller"></div>
